---
layout: default
pagination:
  enabled: true
---
<a href="{{ site.url }}">{{ site.theme_config.back_home_text }}</a>
<header>
    <h1>Things I've written</h1>
    
    {% for post in paginator.posts %}
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    <div class="content">
      {{ post.excerpt }}
    </div>
  {% endfor %}

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ '/' | relative_url }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | relative_url }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</header>
