---
layout: default
---

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/gruvbox-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

<a href="/blog">cd ..</a> | 
<a href="{{ site.url }}">{{ site.theme_config.back_home_text }}</a>
<h1>{{ page.title }}</h1>
<small>rant_date: {{ page.date | date: site.theme_config.date_format }}</small>
{{ content }}

<hr data-content="fin">
